.layout-container {
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.layout-main {
  flex-grow: 1;
  height: 100%;
  overflow-y: auto;
  position: relative;
}

/* On mobile, stack vertically */
@media (max-width: 767px) {
  .layout-container {
    flex-direction: column-reverse;
  }
}
